div.comments_box_container{
    height:auto;
    width:auto;
    border:3px solid black;
}

span.subject_name{
    font-size:30px;
}

span.announcement_text{
    font-size:30px;
}

span.date_text{
    font-size:20px;
}

span.listingdesctext{
    font-size:25px;
}